{% extends 'base.html' %}

{% block title %}
    <h1>Home Page</h1>
{% endblock %}

{% block content %}
    <p>Hello {{content}}</p>
    <p>Well, {{r}}</p>


    <!-- {% for x in range(10) %}
        {% if x % 2 == 1 %}
            <p>{{x}}</p>
        {% endif %}
    {% endfor %} -->


    <!-- {% for x in content %}
        <p>{{x}}</p>
    {% endfor %} -->


    {% for x in content %}
        {% if x == "Tim" %}
            <p>This is {{x}}</p>
        {% else %}
            <p>Not Tim, but {{x}}</p>
        {% endif %}
    {% endfor %}
{% endblock %}