{% extends 'base.html' %}

{% block title %}
    <h1>Login</h1>
{% endblock %}

{% block content %}

    <!-- Displaying the messages: -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    

    <form action="#" method="POST">
        <p>Name:</p>
        <p><input type="text" name="nm" /></p>
        <p><input type="submit" value="submit" /></p>
    </form>
{% endblock %}